/* src/components/SidebarNav.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C0A00;
    padding: 40px;
}

.logo {
    display: flex;
    align-items: left;
    margin-right: 20px;
}

.logo img {
    width: 50px;
}

.logo-text {
    font-weight: bold;
    color: gold;
    font-size: 24px;
    padding-right: 30px;
    font-family: 'Overlock', sans-serif;
    margin-left: 20px !important;
}

.toggle-icon {
    display: none;
}

@media (max-width: 768px) {
    .toggle-icon {
        display: block;
    }
}

.navbar-toggler {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: relative;
}

.navbar-toggler-icon .dash {
    display: block;
    width: 100%;
    height: 4px;
    background-color: gold;
    position: relative;
    transition: all 0.3s;
}

.nav-links {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #0C0A00;
    color: gold;
    display: none;
}

.nav-links.show {
    display: flex;
}

.nav-links-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding-bottom: 20px;
}

.nav-link {
    font-weight: bold;
    color: gold !important;
    text-decoration: none;
    padding-left: 10px;
}

.dropdown-menu {
    background-color: #0C0A00;
    padding-right: 15px;
}

.dropdown-item {
    font-size: 20px;
    color: gold !important;
    font-family: 'Overlock', sans-serif;
    font-weight: bold;
    background-color: #0C0A00;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
}
