/* src/components/Layout/Container.css */
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');

.common-container {
    margin: 0 auto;
    padding: 30px 15px; /* Add padding to ensure space around content */
    background-color: #0C0A00; /* Common background color */
    color: gold; /* Common text color */
    font-family: 'Overlock', sans-serif; /* Apply Overlock font */
}
